<!DOCTYPE html>
<html xmlns:th="hhtp://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<h2 th:text="${titulo}"></h2>
	<div class="container">
		<form th:action="@{/form}" method="post" th:object="${usuario}">

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="habilitar">Habilitar NewsPaper Semanal: </label>
				<div class="row col-sm-4">
					<input type="checkbox" id="habilitar" th:field="*{habilitar}"
						class="form-control col-sm-1">
				</div>
			</div>

			<div class="form-group  row ">
				<label class="col-form-label col-sm-2">Genero</label>
				<div class="row col-sm-4">
					<label for="genero1" class="col-sm-2 col-form-label">Hombre</label> <input
						type="radio" id="genero1" th:field="*{genero}" value="Hombre"
						class="form-control col-sm-2">
				</div>
				<div class="row col-sm-4">
					<label for="genero2" class="col-sm-2">Mujer</label> <input
						type="radio" id="genero2" th:field="*{genero}" value="Mujer"
						class="form-control col-sm-2">
				</div>
				<div th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="alert alert-danger"></div>
			</div>

			<div class="form-group  row">
				<label for="id">Identificador: </label>
				<div>
					<input type="text" id="id" th:field="*{id}" class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="alert alert-danger"></div>
			</div>

			<div class="form-group  row">
				<label for="pais" class="col-form-label col-sm-2">Pais: </label>
				<div>
					<select id="pais" th:field="*{pais}" class="form-control">
						<option value="">-- Seleccionar --</option>
						<option th:each="pais: ${listaPaises}" th:text="${pais.nombre}"
							th:value="${pais.id}"></option>
					</select>
				</div>
				<div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}" class="alert alert-danger"></div>
			</div>

			<div class="form-group  row">
				<label class="col-form-label col-sm-2">Roles: </label>
				<div th:each="role: ${listaRoles}" class="row row col-sm-4">
					<input type="checkbox" th:field="*{roles}" th:value="${role.id}"
						class="form-control col-sm-2 col-form-label"> <label
						th:for="${#ids.prev('roles')}" th:text="${role.nombre}"
						class="col-sm-2 col-form-label"></label>
				</div>
				<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label for="nombre" class="col-form-label col-sm-2">Nombre: </label>
				<div>
					<input type="text" id="nombre" th:field="*{nombre}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="apellido" class="col-form-label col-sm-2">Apellido: </label>
				<div>
					<input type="text" id="apellido" th:field="*{apellido}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('apellido')}"
					th:errors="*{apellido}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="username" class="col-form-label col-sm-2">Username: </label>
				<div>
					<input type="text" id="username" th:field="*{username}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="password" class="col-form-label col-sm-2">Password: </label>
				<div>
					<input type="password" th:field="*{password}" id="password"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="email" class="col-form-label col-sm-2">Email: </label>
				<div>
					<input type="text" id="email" th:field="*{email}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<label for="fechaNacimiento" class="col-form-label col-sm-2">Fecha: </label>
				<div>
					<input type="date" id="fechaNacimiento"
						th:field="*{fechaNacimiento}" placeholder="yyyy-MM-dd"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('fechaNacimiento')}"
					th:errors="*{fechaNacimiento}" class="alert alert-danger"></div>
			</div>
			<div class="form-group row">
				<div>
					<input type="submit" value="Enviar" class="btn btn-primary">
				</div>
			</div>

		</form>
	</div>
</body>
</html>